/* color name */
/* h1{
    color: blue;
} */

/* HEX CODE */
/* h1{
    color: #333216;
} */

/* RGB */
/* h1{
    color: rgb(234, 21, 201);
} */

/* BACK GROUND COLOR */
/* body{
    background-color:blue ;
    color: green;
} */

/* div{
    color: blue;
    background-color: aqua;
} */

/* opacity */
/* #div1{
    background-color: blue;
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */